@using MuQuiz.Models.Entities
@model Player[]


<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
    <h1>And the winner is...</h1>
    <br />
    <h1 id="winner"><i class="em em-@Model[0].AvatarCode"></i> @HttpUtility.HtmlDecode(Model[0].Name) (@Model[0].Score points)</h1>
    <br />
    @for (int i = 2; i <= Model.Length; i++)
    {
        <p>@i.  <i class="em em-@Model[i-1].AvatarCode"></i> @HttpUtility.HtmlDecode(Model[i - 1].Name) (@Model[i - 1].Score points)</p>
    }

</div>
<br />
<button id="startover" class="btn btn-dark btn-lg">Let's play another round!</button>
<a asp-controller="Home" asp-action="Index" class="btn btn-dark btn-lg">Home</a>

<script type="text/javascript">
    $("#startover").click(async function () {
        await window.startNewSession();
    });

    $("body").removeClass().addClass("results");
</script>