@model AdminShowSongVM[]

<div class="row vh-100">
    <div class="col-12 mx-auto align-self-center">
        <h1>Welcome to the admin page</h1>
        <a asp-controller="admin" asp-action="add">
            <h2>Add a new song...</h2>
        </a>
        <div id="addOrEdit"></div>
    </div>

    <div class="col-12 mx-auto align-self-center">
        <h2>...or edit available songs</h2>
        <form method="post">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th class="w-33">Artist</th>
                        <th class="w-33">Song name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model)
    {
                    <tr>
                        <td>@song.Artist</td>
                        <td>@song.SongName</td>
                        <td>
                            <button type="submit" asp-controller="admin" asp-action="delete" asp-route-id="@song.Id" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                        <td>
                            <a asp-controller="admin" asp-action="update" asp-route-id="@song.Id" class="btn btn-sm btn-dark" value="@song.Id">Edit</a>
                        </td>
                    </tr>
    }
                </tbody>
            </table>
        </form>
    </div>
</div>
