@model PlayerGameVM
@using MuQuiz.Hubs


<div class="row vh-100">
    <div id="content" class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto align-self-center">
        <h1>Welcome, <i class="em em-@Model.AvatarCode"></i> @Model.Name!</h1>

        <p>Waiting for game to start...</p>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@1.1.0/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        (async function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/gamehub")
                .build();

            async function getPartialView(url) {
                await $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        $("#content").html(result);
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            }

            async function getPlayerWaitingScreen() {
                await getPartialView("/player/showwaitingscreen");
            }

            async function getPlayerAlternatives(songId) {
                await getPartialView("/player/showalternatives?song=" + songId);
            }

            async function getPlayerFinalPosition(position) {
                await getPartialView("/player/showfinalposition?position=" + position);
            }

            async function submitAnswer(isRightAns) {
                await connection.invoke("@nameof(GameHub.SendAnswer)", isRightAns, "@Model.GameId");
                getPlayerWaitingScreen();
            }

            async function getPlayerSessionClosedScreen() {
                await getPartialView("/player/showsessionclosedscreen");
            }

            window.submitAnswer = submitAnswer;

            await connection.start().catch(err => console.log(err));

            connection.invoke("@nameof(GameHub.AddToGroup)", "@Model.GameId", "@Model.Name", "@Model.AvatarCode");

            connection.on("@nameof(IHubClient.ReceiveSong)", async function (songId) {
                await getPlayerAlternatives(songId);
            });

            connection.on("@nameof(IHubClient.GetWaitingScreen)", async function () {
                await getPlayerWaitingScreen();
            });

            connection.on("@nameof(IHubClient.GetFinalPosition)", async function (position) {
                await getPlayerFinalPosition(position);
            });

            connection.on("@nameof(IHubClient.GetSessionClosedScreen)", async function () {
                await getPlayerSessionClosedScreen();
            });

            connection.on("@nameof(IHubClient.ConfirmJoined)", async function () {
                await connection.invoke("@nameof(GameHub.SendNameToHost)", "@Model.GameId", "@Model.Name", "@Model.AvatarCode")
            });
        })();
    </script>
    <script type="text/javascript">
        $(function () {
            $("body").removeClass().addClass("lobby");
        });
    </script>
}